html {
    min-height: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #555;
    font-size: 12px;
    font-family: 'Microsoft YaHei', Tahoma, Helvetica, Arial, sans-serif;
}

.text-black {
    color: #666;
}

.text-green {
    color: #288828;
}

.text-gray {
    color: #999;
}

.main-wrapper {
    width: 680px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.menu-wrapper {
    padding: 5px 15px;
    background-color: #fafafa;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 0 3px #ccc;
}

.editor-wrapper {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.split-bar {
    width: 100%;
    height: 2px;
    background-color: #ccc;
}

.preview-wrapper {
    width: 100%;
    min-height: 100px;
}

.footer-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #e0e0e0;
}

.footer {
    width: 100%;
    padding: 5px 15px;
    background-color: #fafafa;
    //text-align: center;
}

